# default container config ue, enb and epc defaults below
#
# override each as needed per experiment
[!container:experiment]
__template.file.201=lxc.conf
__template.file.202=lxc.hook.autodev.sh


# for shared memory access (not needed)
# @lxc.mount.entry.0=none dev/shm tmpfs nodev,nosuid,noexec,mode=1777,create=dir 0 0

# backchannel
+@lxc.interface.0.link =%(@experiment_control_interface)s
+@lxc.interface.0.ipv4=%(@control_ip_addr)s/24
+@lxc.interface.0.name=%(@control_interface)s
@control_ip_addr=10.99.1.%(@id)s


# for ue and populating mongo db
@usim_op=63BFA50EE6523365FF14C1F45F88737D
@usim_k=00112233445566778899aabbccddeeff
# imsi total length must be 15 digits no more no less
# using 12 digit prefix, finished length must be 15 digits
@usim_imsi_prefix=999700123450
@usim_imsi=@eval{"999700123450%%03d" %% %(@id)s}

# ue and epc lan prefix
@lan_addr_prefix=172.16.0.

# common to all ue container(s)
[!ue-container:container]
__template.path=../../templates/ue:../../templates/ue/conf
__template.file.301=init
__template.file.302=init.local
__template.file.303=ue.conf
@ue_all_log_level=warn
@ue_mac_log_level=warn
# 4g
@num_eutra_carriers=1
# 5g
@num_rat_carriers=0
@ue_release=8
@ue_tx_gain=80
@ue_rx_gain=40
@fixed_cqi=-1


# enb container
[!enb-container:container]
__template.path=../../templates/enb:../../templates/enb/conf
__template.file.401=init
__template.file.402=init.local
__template.file.403=enb.conf
__template.file.404=sib.mbsfn.conf
__template.file.405=sib.conf
__template.file.406=rb.conf
@enb_all_log_level=warn
@enb_mac_log_level=warn
@max_ctrl_symbols=3
@enb_tx_gain=80
@enb_rx_gain=40


# gnb container
[!gnb-container:container]
__template.path=../../templates/gnb:../../templates/gnb/conf
__template.file.401=init
__template.file.402=init.local
__template.file.403=gnb.yaml


# srsepc container
[!srsepc-container:container]
__template.path=../../templates/epc:../../templates/epc/conf
__template.file.501=init
__template.file.502=init.local
__template.file.503=epc.conf
__template.file.504=user_db.csv
__template.file.505=mbms.conf
@sgi_ip_addr=172.16.0.101
@epc_log_level=debug
@mbms_log_level=debug


# open5gs 4g container
[!open5gs-4g-container:container]
__template.path=../../templates/open5gs/4g:../../templates/open5gs/4g/conf:../../templates/mongodb/conf:../../templates/epc/conf
__template.file.501=init
__template.file.502=init.local
__template.file.503=hss.yaml
__template.file.504=mme.yaml
__template.file.505=nrf.yaml
__template.file.506=pcf.yaml
__template.file.507=pcrf.yaml
__template.file.508=scp.yaml
__template.file.509=sgwc.yaml
__template.file.510=sgwu.yaml
__template.file.511=smf.yaml
__template.file.512=upf.yaml
__template.file.513=mongodb.conf
__template.file.514=mbms.conf


[!open5gs-5g-container:container]
@uplane_ip_addr=10.99.1.102
@cplane_ip_addr=10.99.1.101

# open5gs control plane container
[!open5gs-ctrl-container:open5gs-5g-container]
__template.path=../../templates/open5gs/5g/conf/:../../templates/mongodb
__template.file.501=init
__template.file.502=init.local
__template.file.503=amf.yaml
__template.file.504=ausf.yaml
__template.file.505=bsf.yaml
__template.file.506=hss.yaml
__template.file.507=mme.yaml
__template.file.508=nrf.yaml
__template.file.509=nssf.yaml
__template.file.510=pcf.yaml
__template.file.511=pcrf.yaml
__template.file.512=scp.yaml
__template.file.513=sepp1.yaml
__template.file.514=sepp2.yaml
__template.file.515=sgwc.yaml
__template.file.516=smf.yaml
__template.file.517=udm.yaml
__template.file.518=udr.yaml
__template.file.530=mongodb.conf


# open5gs user plane container
[!open5gs-user-container:open5gs-5g-container]
__template.path=../../templates/open5gs/5g/conf:../../templates/mongodb
__template.file.501=init
__template.file.502=init.local
__template.file.503=upf.yaml
__template.file.504=sgwu.yaml
